<header>
  <div><a href="/"><b>Điếu Cày Store</b></a></div>
  <nav>
    <a href="/">Trang chủ</a>
    <a href="/cart">Giỏ hàng (<%= cartCount %>)</a>
    <a href="/admin">Admin</a>
  </nav>
</header>
